:root {
  --color-background: {{ .Site.Params.light.background | default "#E0E0E0" }};
  --color-text: {{ .Site.Params.light.text | default "#333333" }};
  --color-text-hover: {{ .Site.Params.light.textHover | default "#0a62b9" }};
  --color-border: {{ .Site.Params.light.border | default "#999999" }};
  --color-header-background: {{ .Site.Params.light.headerBackground | default "#ffffff" }};
}

[data-theme="dark"] {
  --color-background: {{ .Site.Params.dark.background | default "#303030" }};
  --color-text: {{ .Site.Params.dark.text | default "#B3B3B3" }};
  --color-text-hover: {{ .Site.Params.dark.textHover | default "#0a62b9" }};
  --color-border: {{ .Site.Params.dark.colorBorder | default "#666666" }};
  --color-header-background: {{ .Site.Params.dark.headerBackground | default "#424242" }};
}

html, body {
  padding: 0;
  margin: 0;
  background: var(--color-background);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
}

.uk-card,
input.uk-input,
textarea.uk-textarea {
  background: var(--color-header-background);
  box-shadow: none;
}

div.uk-card-header,
div.uk-card-body,
div.uk-card-footer {
  padding: 1em;
  color: var(--color-text);
}

.category-header h2,
h3,
span {
  color: var(--color-text);
}

a {
  color: var(--color-text-hover);
  text-decoration: none;
}

a:hover {
  color: var(--color-text-hover);
  text-decoration: none !important;
}

div.uk-container {
  max-width: 1800px;
}

hr {
  border-top: 1px solid var(--color-border);
}

span.category-header {
  display: flex;
  align-items: center;

  h2 {
    margin: .5rem;
    font-size: 1.5rem;
  }
}

.uk-h3, h3 {
  font-size: 1.25rem;
}

/*
 * Laptop Banner section.
 */
#header {
  top: 0;
  position: fixed;
  margin-top: 1%;
  width: inherit;
  padding-right: 5%;
  max-width: 500px;

  .description {
    color: var(--color-text);
    margin-bottom: 1rem;
  }
}

/*
 * Mobile Banner section.
 */
#mobile-banner {
  .uk-offcanvas-bar {
    padding: 0;
    background: var(--color-header-background);
    color: var(--color-text);
  }

  div.description {
    padding: 1em;
  }

  div.links {
    padding: 1em;
  }
}

/*
 * Laptop & Mobile Banner section.
 */
#header, #mobile-banner {
  a {
    color: var(--color-text);

    i {
      margin-right: .5rem;
    }
  }
}

/*
 * About Me section.
 */
.about-me {
  button.uk-icon-button {
    background: var(--color-background);
    color: var(--color-text);
    margin-left: auto;
  }
}

/*
 * Education section.
 */
.education .badges {
  display: flex;
  justify-content: space-around;

  a:first-child {
    display: flex;
  }
}

/*
 * Skills section.
 */
.skills {
  h3 {
    margin: 1rem 0 .75rem 0;
  }

  div.block {
    display: flex;
    padding-left: 2rem;
  }

  span.devicons {
    font-size: 1.6rem;
  }

  span.icon {
    display: inline-flex;
    margin-right: 1.5rem;
    align-items: center;
  }

  i.fas, i.fad, span.devicons {
    margin-right: .25rem;
  }
}

/*
 * Blog & Projects section.
 */
.posts, .repos {
  div.uk-card-header {
      border: none;

      time {
        color: #767676;
      }
  }

  h3.uk-card-title b {
    font-size: 1rem;
    color: var(--color-text);
  }

  div.uk-card-body {
    padding-bottom: 4rem;
  }

  div.uk-card-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 1rem;
  }

  a.uk-button-text {
    color: var(--color-text);
  }

  span.right {
    float: right;
  }
}

/*
 * Talks section.
 */
.talks {
  div.uk-card-media-left {
    width: 20rem;
    height: 10rem;
  }

  div.uk-card-body {
    h3 {
      margin-bottom: .5rem;
    }

    p {
      margin: 0;
    }
  }
}

/*
 * Contact section.
 */
.contact {
  margin-bottom: 1rem !important;

  form {
    .row {
      display: flex;
      justify-content: space-between;

      input {
        width: 49%;
      }
    }
  }

  input, button, textarea {
    border: none;
  }

  button.uk-button {
    float: right;
    background: #babbbc;
  }

  button.uk-button:hover {
    float: right;
    background: #888888;
  }
}

button#mobile {
  margin-top: 1rem;
  position: fixed;
  background: var(--color-header-background);
  border: none;

  rect {
    color: var(--color-text);
  }
}

.timeline-container {
	width: 90%;
	margin: 0 auto;

  .timeline-item {
  	padding: 1em 2em;
  	position: relative;
  	border-left: 2px solid var(--color-border);

    h3 {
      margin: .25% 0 1% 0;
    }

    p {
    	font-size: 1rem;
    }

    span.date::after {
    	width: 1rem;
    	height: 1rem;
    	display: block;
    	top: 1.2rem;
    	position: absolute;
    	left: -.55rem;
    	border-radius: 10px;
    	content: '';
    	border: 2px solid var(--color-border);
    	background: var(--color-background);
    }
  }

  .timeline-item:last-child {
    border-image: linear-gradient(to bottom, var(--color-border) 60%, var(--color-border)) 1 100%;
  }
}

@media only screen and (min-width: 960px) {
  button#mobile {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  #header {
    display: none;
  }

  button#mobile {
    left: 1rem;
  }

  div.uk-container {
    margin-left: 4rem;
  }

  .skills div.block {
    display: block;
  }
}
